<!--The whole content below can be removed with the new code.-->
<!DOCTYPE html>
<html>

<head>
	<link href='https://fonts.googleapis.com/css?family=Oswald' rel='stylesheet' type='text/css'>
</head>


<body class="home" id="page">
	<!-- Header -->
	<header class="main-header">
		<div class="container">
			<div class="header-content">
				<a href="index.html">
                   <div align="center" style="background-color:red; width:100%; margin: 0px 0px 0px 0px;">
							<h1 style="padding:20px 20px 20px 20px; color: #fff;">MARVEL</h1>
					</div>
                </a>

				<nav class="site-nav">
					<ul class="clean-list site-links">


						<li>
							<a routerLink="/">Accueil</a>

						</li>
						<li>
							<a routerLink="/data">Data</a>
						</li>
					</ul>


				</nav>
			</div>
		</div>
	</header>

	<!-- Main Content -->
	<div class="content-box">
		<!-- Hero Section -->
		<section class="section section-hero">
			<div class="hero-box">
				<div class="container">
					<div class="hero-text align-center">
						<div align="center" style="background-color:red; width:50%; margin-left:auto ; margin-right:auto ; ">
							<h1 style="padding:20px 20px 20px 20px;">{{title}}</h1>
						</div>
						<p>Bienvenue sur notre projet AngularJS</p>
						<router-outlet></router-outlet>
					</div>


				</div>
			</div>

		</section>
	</div>



	<!-- Footer -->
	<footer class="main-footer">
		<div class="container">
			<div class="row">				

				<div class="col-md-5" style="margin-left: 40%; margin-right: 40%;">
					<div class="widget widget_links">
						<h5 class="widget-title">Site réalisé par :</h5>
						<ul>
							<li>Evan PICHET</li>
							<li>Damian DOMINGUES</li>
						</ul>
					</div>
				</div>

			</div>
		</div>
	</footer>


</body>

</html>
