<!-- Statistics Box -->
<div style="margin-top:10%;" class="container">
  <div class="statistics-box" *ngFor="let hero of heroes">
    <div class="statistics-item">
      <span class="value">{{hero.comics.available}}</span>
      <p class="title">Comics</p>
    </div>

    <div class="statistics-item">
      <span class="value">{{hero.series.available}}</span>
      <p class="title">Séries</p>
    </div>

    <div class="statistics-item">
      <span class="value">{{hero.stories.available}}</span>
      <p class="title">stories</p>
    </div>

    <div class="statistics-item">
      <span class="value">{{hero.events.available}}</span>
      <p class="title">Evenements</p>
    </div>
  </div>
</div>
