<div class="destinations-form">
  <div class="input-line">
    <input name="txtChar" [(ngModel)]="charNameInput" value="" class="form-input check-value" placeholder="Quel est le personnage voulu ?" />
    <button (click)="loadChar()" class="form-submit btn btn-special">Chercher un personnage</button>
    <button style="margin-right:100%; border-radius:5px 0px 0px 5px" (click)="addInFavoris()" class="form-submit btn btn-special">ajouter aux favoris</button>
  </div>
</div>
