<app-rechercheform (charNameForFav)="onAddFavoris($event)" (charName)="onHeroesSeach($event)"></app-rechercheform>
<app-favoris class="strokeme" [favoris]="favoris" (charName)="onHeroesSeach($event)"></app-favoris>
<app-stats [heroes]="heroes"></app-stats>
<app-get-character class="strokeme" [heroes]="heroes"></app-get-character>
