
<div class="statistics-box">
	<div class="statistics-item">
		<span class="value">
			Sur ce site, vous pourrez chercher votre héros Marvel et consulter la lsite des comics et séries dans lequel celui-ci apparaît. 
		</span>

	</div>
</div>

<div class="statistics-box">	
	<div class="statistics-item">
		<span class="value">
			Pour faire cela, nous avons récupéré les données de l'API Marvel et créé des components permettant la recherche de héros, la récupération des informations le concernant et l'ajout possible à un favori.
		</span>
	</div>
</div>

<div class="statistics-box">
	<div class="statistics-item">
		<span class="value">
			Pour plus de détails concernant cette appli, je vous invite à l'essayer par vous même !
		</span>
	</div>
</div>
<br>
<!--
<div class="statistics-box">
	
</div>

<div class="statistics-box">
	
</div>
-->